.popup-root,
.popup-overlay,
.popup-background {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.popup-root {
  position: absolute;
  z-index: 8;
}

.popup-background {
  position: fixed;
  background-color: black;
  opacity: 0.9;
  margin-right: 0px;
}

.popup-overlay {
  position: fixed;
  overflow: scroll;
}
.popup-sidebar {
  display: none;
  float: right;
  height: 100%;
  position: absolute;
  right: 0px;
  z-index: 1;
}
.popup-sidebar-sticky {
  position: sticky;
  top: 80px;
}

.popup-sider-container {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.popup-sidebar-iconbackground {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgb(46, 46, 46);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-collection {
  font-size: 20px;
  color: gray;
}

.popup-sidebar-avatar {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.popup-sidebar-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup-overlay-close {
  display: none;
  position: fixed;
  z-index: 1;
  top: 14px;
  left: 16px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: rgb(46, 46, 46);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.1s linear;
}

.popup-overlay-close:hover {
  background-color: gray;
}

.popup-overlay-closeicon {
  color: whitesmoke;
  font-size: 20px !important;
}

.popup-overlay-linkleft,
.popup-overlay-linkright {
  display: none;
  position: fixed;
  bottom: 16px;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.popup-overlay-linkcycle {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: rgb(46, 46, 46);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.1s linear;
}
.popup-overlay-linkcycle:hover {
  background-color: gray;
}

.popup-overlay-link-p {
  color: rgb(160, 160, 160);
  font-size: 14px;
  margin-top: 8px;
}

@media (min-width: 1590px) {
  .popup-overlay-linkleft {
    display: flex;
    left: calc(calc((100% - 1400px) / 2) - 70px);
  }
  .popup-overlay-linkright {
    display: flex;
    right: calc(calc((100% - 1400px) / 2) - 70px);
  }
  .popup-sidebar {
    display: block;
    right: calc(calc((100% - 1400px) / 2) - 70px);
  }
  .popup-overlay-close {
    display: flex;
  }
}

@media (min-width: 1025px) and (max-width: 1590px) {
  .popup-overlay-linkleft {
    left: 25px;
    display: flex;
  }
  .popup-overlay-linkright {
    right: 25px;
    display: flex;
  }
  .popup-sidebar {
    display: block;
    right: -72px;
  }
  .popup-overlay-close {
    display: flex;
  }
}

.popup-overlay-project {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
}
.popup-overlay-project-content {
  position: relative;
  background-color: white;
  max-width: 1400px;
  height: 100%;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 4px; */
  margin-bottom: 72px;
}

.popup-overlay-project-authorheader {
  background-color: white;
  max-width: 1400px;
  padding: 14px 0px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  border-bottom: 1px solid lightgray;
}

.authorheader-name {
  color: rgb(22, 22, 22);
  margin-left: 16px;
  font-size: 16px;
  font-weight: 600;
}
.authorheader-time {
  color: rgb(92, 92, 92);
  font-size: 14px;
  margin-left: 16px;
  margin-top: 4px;
  /* font-style: oblique; */
}

@media (min-width: 1025px) {
  .popup-overlay-project {
    max-width: 1400px;
  }
  .popup-overlay-project-authorheader {
    background-color: rgba(0, 0, 0, 0);
    padding-left: 0px;
  }
  .authorheader-name {
    color: whitesmoke;
  }
  .authorheader-time {
    color: rgb(220, 220, 220);
  }
}
@media (min-width: 1025px) and (max-width: 1870px) {
  .popup-overlay-project {
    max-width: calc(100% - 190px);
  }
  .popup-overlay-project-authorheader {
    background-color: rgba(0, 0, 0, 0);
    padding-left: 0px;
  }
}

.authorheader-avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
}

.markdown-content {
  position: relative;
  padding-top: 0.38rem;
  margin: 0px 36px;
  padding: 24px 0px;
  display: flex;
  flex-direction: column;
}

.markdown-content img {
  position: relative;
  left: -36px;
  max-width: calc(100% + 72px);
}

.markdown-content * {
  line-height: calc(1.1em + 1ex);
}

.markdown-content h1,
h2,
h3 {
  padding-top: 0.38rem;
}

.markdown-content h4,
h5,
h6 {
  padding-top: 0.28rem;
}

.markdown-content ul {
  padding-left: 2em;
  display: block;
  margin-top: 0;
  margin-bottom: 18px;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.markdown-content li {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 8px;
}

.markdown-content code {
  background-color: rgba(27, 31, 35, 0.08);
  /* padding: 0.1em 0.1em; */
  border-radius: 3px;
}

.markdown-content a {
  text-decoration: none;
  color: #0366d6;
}
.markdown-content a:hover {
  text-decoration: underline;
}

.markdown-content p {
  color: rgb(48, 48, 48);
  display: block;
  font-size: 18px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 8px;
}

.markdown-content blockquote {
  border-left: 0.25rem solid #dfe2e5;
  padding: 0 1rem;
  font-size: 18px;
  background-color: rgb(0, 0, 0, 0.02);
}

.markdown-content table {
  border-collapse: collapse; /*使用单一线条的边框*/
  empty-cells: show; /*单元格无内容依旧绘制边框*/
  /* border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2); */
}

.markdown-content table th,
td {
  height: 2rem;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-block-color: rgb(220, 220, 220);
}
.markdown-content thead tr th {
  padding: 0.6em 1em;
}
.markdown-content tbody tr td {
  padding: 0.6em 1em;
}

.markdown-content table th {
  font-weight: bold; /*加粗*/
  text-align: inherit; /*内容居中，加上 !important 避免被 Markdown 样式覆盖*/
  background: #ffffff; /*背景色*/
  /* white-space: nowrap; 表头内容强制在一行显示 */
}
