body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link {
  text-decoration: none;
  color: inherit;
}

.zhaoling-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}
p {
  padding: 0;
  margin: 0;
}
